*.o
gp
main
*.bst
*.fn 
*.gen
*.his
*.prg
*.stt
*.pop
*.sys
*.wgt
*.cnt
*.gz
*.xz
*.db
*.ckp
*.ps
*.jpg
*.scmfc
*.bind
*.rtime
*.dat
st_*.txt
hits.txt
.Rproj.user
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.ps
*.toc
*.tdo
nohup
*.out
sttlong*.txt
*.csv
